<!DOCTYPE html>
<html>
<head>
    <title>Simple Page</title>
    <style>
        @font-face {
            font-family: 'BriosoProItalic';
            src: url('/static/fonts/BriosoProItalic.otf') format('opentype');
        }
        :root{
            background-color: antiquewhite;
            font-family: 'BriosoProItalic';
        }

        p{
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>Welcome to My Simple Page</h1>
    <p>This is a basic HTML page created using Django.</p>
</body>
</html>
